.Footer {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #999;
}

.Footer-logoItems {
  text-align: center;
}

.Footer-logoItems img {
  margin: 10px 20px;
}

.Footer-disclaimer {
  padding: 20px 0;
  font-size: 10px;
}
