.Header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.Header-logo {
  display: block;
}

.Header-logo-image {
  background: url("../images/logo.png");
  height: 97px;
  width: 255px;
}
