.Nav {
  padding: 16px 20px;
  margin-top: 12px;
  text-align: center;
  background: linear-gradient(#333, black);
}

.Nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.Nav-link:hover {
  color: #891016;
}

.Nav-link + .Nav-link {
  border-left: 1px solid white;
  margin-left: 10px;
  padding-left: 10px;
}
