.News {
  flex: 2;
  border: 1px solid black;
  background-color: black;
  margin-left: 8px;
}

.News-titleBar {
  background-color: #891016;
  font-size: 17px;
  padding: 6px 16px;
}

.News-newsItems {
  overflow: auto;
  padding: 8px 0;
  height: 318px;
}

.News-newsItem-box {
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
}

.News-newsItem-details {
  padding-left: 16px;
}

.News-newsItem-title {
  color: red;
  font-size: 15px;
  margin-bottom: 8px;
}

.News-newsItem-desc {
  font-size: 12px;
}
