.Promo {
  position: relative;
  margin-top: 12px;
}
.Promo-thumbnailBar {
  margin: 16px;
  background: black;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.Promo-thumbnailBar-box {
  display: flex;
  cursor: pointer;
  padding: 16px;
}

.Promo-thumbnailBar-box:hover {
  background: url('../images/background.png') 300px 0;
}

.Promo-thumbnailBar-box-selected {
  background: url('../images/background.png') 660px 0;
}

.Promo-thumbnailBar-details {
  padding-left: 16px;
}

.Promo-thumbnailBar-title {
  color: red;
  font-size: 15px;
  margin-bottom: 8px;
}

.Promo-thumbnailBar-desc {
  font-size: 12px;
}
