.Videos {
  flex: 1;
  border: 1px solid black;
  background-color: black;
}

.Videos-videoItems {
  padding: 8px 0;
}

.Videos-titleBar {
  background-color: #891016;
  font-size: 17px;
  padding: 6px 16px;
}

.Videos-videoItem-box {
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
}

.Videos-videoItem-details {
  padding-left: 16px;
}

.Videos-videoItem-title {
  color: red;
  font-size: 15px;
  margin-bottom: 8px;
}

.Videos-videoItem-desc {
  font-size: 12px;
}
